.sidebar {
  flex: 3;
  height: calc(100vh -50px);
  background-color: yellowgreen;
  overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    width: 5px;
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(179,179,179);
    width: 5px;
}
.sidebarWrapper {
  padding: 20px;
  background-color: yellowgreen;
}
.sidebarList {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.sidebarIcon {
  margin-right: 15px;
}
.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500px;
}
.sidebarHr {
  margin: 20px 0;
}
.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.sidebarFriendImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.sidebarfriendinfo{
    font-size: 15px;
    display: inline;
    align-items: flex-end;
    margin-left: 4px;

}
