.post{
    width: 100%;
    border-radius: 10px;
  -webkit-box-shadow: 0px 0px 21px 11px rgba(0, 0, 0, 0.83);
  box-shadow: 0px 0px 21px 11px rgba(0, 0, 0, 0.83) ;
  margin: 30px 0;
}
.postWrapper{
    padding: 10px;

}
.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postTopLeft{
    display: flex;
    align-items: center;
}
.postProfileImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.postUsername{
    font-size: 10px;
    margin: 0 10px;
    font-weight: 500;

}
.postDate{
    font-size: 12px;

}
.postCenter{
    margin: 20px 0;


}
.postImg{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;

}
.likeIcon{
    width: 24px;
    height: 24px;
    display: inline;
    align-items: center;
    cursor: pointer ;
    object-fit: cover;
    border-radius: 50%;

}
.postLikeCounter{
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
}
.postBottomLeft{
    display: flex;
}
.postBottom{
    display: flex;
  align-items: center;
  justify-content: space-between;

    
}
.postCommentText{
    font-weight: 400;
    font-size: 15px;
    border-bottom: 1px dashed gray;
    cursor: pointer;
}